:root {
    /* Font size variables */
    --small: 14px;
    --medium: 19px;
    --large: 38px;
    --vlarge: 48px;
}

/* Use the Inter font for the page */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 30px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
}

button img {
    height: var(--small);
    width: var(--small);
    max-width: var(--small);
    border-radius: 0px;
}

.headline {
    display: flex;
    gap: 3rem;
    margin-top: 10rem;
    margin-bottom: -5rem;
}

.headline img {
max-width: 4rem;
margin: auto;
}

.headline-feature {
    margin-top: 3%;
    margin-bottom: 8%;
    max-width: 80%;
}

/* Add some basic styling for the links */
a {
    color: #F4F5F8;
    text-decoration: none;
}

a:hover {
    color: #c4c4c4;
    transition: 0.6s;
}

body {
    background-color: #161718;
    color: #F4F5F8;
   /* background-image: linear-gradient(#15203c 0%, #000617 100%);*/
}

@keyframes Appear {
    0% {
      filter: blur(1px);
    }
    100% {
      filter: blur(0px);
    }
  }

  @keyframes Appear-down {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


h2 {
    animation:  1.3s ease-in 0s 1 Appear;
}

header,
footer 
{  animation: 1s ease-out 0s 1 Appear-down;}


button {
    appearance: none;
    background-color:  #1b1c1d;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #FAFAFA;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}


button:hover {
    background-color: #161718;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:disabled {
    background-color:#313436;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

button:active {
    background-color: #313436;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}

body {

    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
}

*{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

header button {
    background-color: #1b1c1d;
    color: #FAFAFA;
}

header button:hover {
    background-color: #161718;
    text-decoration: none;
    transition-duration: 0.1s;
}

footer a {
    text-decoration:dashed;
    color: #959DA5;
}

footer {
    justify-content: flex-start;
    gap: 10%;
    padding: 0;
}


@keyframes Cloud {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0px);
    }
  }


.glow {
    width: 150px;
    height: 150px;
    background-color: #16171800;
  position: absolute;
    box-shadow: 200px 100px 70px 20px #161718;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    animation: 5s ease-out 0s 1 Cloud;
  }
